.TabItemTitle{
    font-size: 16px;
	font-family: 'Candara Bold', 'Candara Regular', 'Candara';
	font-weight: 700;
    color: #666;
    margin: 0;
    text-align: left;
}

.TabItemDescription{
    text-align: justify;
    font-size: 14px;
	font-family: 'Candara';
	font-weight: 400;
    color: #666;
}

@media screen and (max-width: 350px){
    .TabItemTitle{
        font-size: 14px;
    }

    .TabItemDescription{
        font-size: 12px;
    }
}